<html>
    <style>
        h1 {color:navy;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size:xx-large;
            text-align: center;}
        h2 {color:purple;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size:x-large;
            text-align: center;} 
        h3 {color:crimson;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size:large;
            text-align: center;} 

    </style>
    <h1>JACCARD SCORE</h1>
    <body style="background-image: url('bg_image.jpg')">
        <h2>Jaccard score is</h2>
        <h3>{{ result }}</h3>
    </body>
</html>